<div class="row">
    <div class="col-xs-6">
        {{#link-to "index"}} {{t "menu.home"}} {{/link-to}}
    </div>
    <div class="col-xs-6">
        <a href="#" {{action 'logout'}}>{{t "menu.logout"}}</a>
    </div>
</div>
<hr>
