<div class="row">
    <div class="col-xs-6">
        {{#link-to "login"}} {{t "menu.login"}} {{/link-to}}
    </div>
    <div class="col-xs-6">
        {{#link-to "signup"}} {{t "menu.signup"}} {{/link-to}}
    </div>
</div>
<hr>
